{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}


  <header class="sabbi-page-header page-header-lg event-page-header" {% if event_header_style %} style = "{{ event_header_style }}" {% endif %} >
        <div class="page-header-content">
            <div class="header-title-block">
                <h1 class="page-title">{{ title }}</h1>
            </div>
        </div>
  </header>

  <section class="sabbi-section stage_events_post stage_events_post-single">
          <div class="events_post_single-sagment">

                      <article class="sabbi-events-item">
                        <div class="events-item-meta content-center">
                          {{ ds_content|without('title') }}
                        </div>
                      </article><!-- /.sabbi-events-item -->
        </div><!-- /.events_post_single-sagment -->
</section>
</{{ ds_content_wrapper }}>

{#  {{ ds_content.field_event_venue }}
    {{ ds_content.field_start_date_and_time }}
    {{ ds_content.field_end_date_and_time }}
    {{ ds_content.field_title_of_seminar_conferenc }}
    {{ ds_content.field_name_of_speak_and_affiliat }}
    {{ ds_content.field_event_types }}
    {{ ds_content.body }} 
#}